.rounded-background {
  max-width: 80ch;
  margin: 0 auto;
  line-height: 1.5;
  background-color: lightblue;
  border-radius: 12px;
  padding: 10px;
  display: inline-block;
}

@font-face {
  font-family: 'Novela Regular';
  src: url('../fonts/Novela-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Novela Regular', serif;
  line-height: 1.7;
  margin: 0;
  padding: 20px;
  background-color: #181818;
  color: #E7E7E7;
  display: flex;
  justify-content: center;
}

.container {
  width: 100%;
  max-width: 80ch;
  margin: 20px;
  background-color: #181818;
  padding: 25px 30px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1.title {
  color: #FFFFFF;
  text-align: center;
  margin-bottom: 25px;
  font-weight: 700;
}

#content-display {
  max-width: 80ch;
  white-space: pre-wrap;
  overflow-wrap: break-word;
  word-wrap: break-word;
  font-size: 1em;
  color: #E7E7E7;
}

#content-display p {
  margin-bottom: 1em;
}

.dynamic-link {
  text-align: center;
  margin-top: 10px;
  font-size: 1em;
}

.dynamic-link a {
  color: #00FFA6;
  text-decoration: none;
}

.dynamic-link a:hover {
  text-decoration: underline;
}

@media (max-width: 768px) {
  body {
    display: block;
    padding: 10px;
  }

  .container {
    width: 100%;
    margin: 0;
    font-family: 'Novela Regular', serif;
    background-color: #181818;
    box-shadow: none;
    border-radius: 0;
    padding: 0;
  }

  #content-display {
    max-width: 100%;
    font-size: 1em;
    margin: 0;
  }

  h1.title {
    margin-top: 10px;
    margin-bottom: 15px;
  }
}